@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

/*Elements used on all pages */
html, body {
    background-color: #ffffff; 
    color:#000000;
    margin: 0;
    padding: 0 0;
    border:0;
    overflow-x: hidden;
  }

.page_title {
  font-family: 'Roboto Slab', sans-serif;
  font-size:40px;
  font: bold;
  color: inherit;
  text-align: center;
}

h1, h2 {
	margin:0;
	padding:0;
}

.subheading {
	font-family: 'Roboto Slab', sans-serif;
	font-size:36px;
	text-align: center;
}

p, ul {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
	line-height: 1.5;
}

div {
	border-radius: 10px;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

figcaption {
	text-align: center;
}

a {
	color:#000000;
}

button {
	transition-duration: 0.4s;
}

table {
	border-radius:10px;
}


/*Elements specifically for languages.html*/

	/* Elements for the quick navigation bar on top of the page */
	.quick_navigation {
		color: #000000;
		padding: 20px;
		width: 950px;
		font-size:18px;
		margin-left: auto;
		margin-right: auto;
	}

	.quick_navigation ul{
		list-style-type: none;
		background-color: #f2f2f2;
		border-radius: 10px;
	}


	.quick_navigation li {
		display: inline-block;
		margin: 8px;
		
	}

	.quick_navigation li a {
		text-decoration: none;
		color:#000000;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 16px;
	}

	/* Elements for the countries */

	.five_countries {
		text-align: center;
	}

	.five_countries li {
		display: inline-block;

	}

	.five_countries ul a{
		color: inherit;
		text-decoration: none;
		
	}

	.country {
		width: 250px;
		height: 186px;
		background-color: #f2f2f2;
		border-radius: 10px;
		text-align: center;
		margin-right: 15px;
		margin-left: 15px;
		margin-bottom: 15px;
	}

	.country_filler {
		width: 250px;
		height: 186px;
		background-color: #FFFFFF;
		margin-right: 15px;
		margin-left: 15px;
	}

	.country:hover {
			background-color: #C2C2C2;
			text-decoration: underline;
	}

	.country_name {
		font: inherit;
		font-size: 18px;
		border: 1px solid #000000;
		border-radius: 10px;
		margin-left: 24px;
		margin-right: 24px;
	}

	.flag {
		height: 122px;
		width: 202px;
		overflow:hidden;
		margin-left: auto;
		margin-right: auto;
		padding-top: 10px;
		
	}

	.flag img {
		width: 100%;
		height: 100%;
		object-fit: cover; 
	}

/* Elements used on Languages in Country page*/

	.list_of_languages {
		background-color: #F2F2F2;
		display: inline-block;
		width: 380px;
		padding: 10px;
		margin: 25px;
		font-size: 24px;
		
	}

	.list_of_languages ul a {
		color: #000000;
		text-decoration: none;
	}

	.list_of_languages ul a:hover, .list_of_languages li:hover {
			text-decoration: underline;
			background-color: #C2C2C2;
	}
	.all_languages {
		display: flex;
		gap: 10px;
		justify-content: center;
	}

	#languages_description {
		width: auto;
		max-width: 60%;
		text-align: center;
		padding: 3px 10px;
		background-color: #F2F2F2;
		margin-left: auto;
		margin-right: auto;
	}

	.language_banner {
		margin:0;
		border:0;
		width: 100vw;
		position: relative;
		display: block;
	}

	.language_banner img {
		width: 100%;
		height: 300px;
		background-size: cover;
		object-fit: cover;
	}

	.language_banner div {
		position: absolute;
		top:50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #F2F2F2;
		opacity: 90%;
		padding: 0px;
	}

	.language_banner div h1{
		padding: 10px;
		margin: 0;
	}

	.language_banner figcaption a {
		color: #5C5C5C;
		text-decoration: underline;
		
	}

	.language_banner figcaption {
		color: #858585;
		text-align: left;
		font-size: 12px;
	}

/* Elements used on the language entry page */
    /* Elements used for the tables */
	table {
		font-size: 24px;
		font-family: 'Roboto Condensed', sans-serif;
		margin-left:auto;
		margin-right:auto;
	}
	.left_column_table {
		background-color:#023E8A;
		color: #ffffff;
		margin:0;
		border:0;
		padding:20px;
		width: 300px;
	}

	.right_column_table {
		background-color: #D9D9D9;
		color: #000000;
		margin:0;
		border:0;
		padding:20px;
		width: 600px;

	}

	.top_row td:first-child {
		border-top-left-radius: 10px;
	}

	.top_row td:last-child {
		border-top-right-radius: 10px;
	}

	.bottom_row td:first-child {
		border-bottom-left-radius: 10px;
	}

	.bottom_row td:last-child {
		border-bottom-right-radius: 10px;
	}

	#metadata, #olac_info, #oai_info {
		background-color: #F2F2F2;
		width: 1100px;
		margin:25px;
		padding:10px;	
	}

	#search_info, #inferred_metadata, #more_info {
		background-color: #f2f2f2;
		margin: 25px;
		padding: 10px;
		width: 600px;
	}

	/* Elements used for the layout */
	#language_entry_container {
		display: flex;
		flex-direction: row;
		gap: 18px;
		padding: 10px;
	}

	#left_column_language_entry {
		gap: 12px;
		margin-left: auto;
		margin-right: auto;
	}

	#right_column_language_entry {
		margin-left: auto;
		margin-right: auto; /*Solve the bug that the right column has no margins on the right side*/
	}

	/* Miscellaneous */
	#writer_info {
		background-color: #F2F2F2;
		width:400px;
		text-align: center;
		margin: 25px;
		margin-left:325px;	
		padding:10px;
	}

	#writer_info p{
		padding:0;
		margin: 0;
	}

	#map_country_tag{
		color:#ffffff;
		background-color:#023E8A ;
		border-radius: 10px;
		}

	#map_country_tag a{
		text-decoration: underline;
		color: inherit;
		}

	#more_info figure{
		color: #ffffff;
		background-color: #023E8A ;
		border-radius: 10px;
		padding: 10px;
	}

	#more_info figure a{
		text-decoration: underline;
		color: inherit;
		
	}

/* Elements used for homepage.html */

	/* Elements for page layout */
	.homepage_container {
		display: flex;
		align-items: flex-start;
		gap: 18px;
		padding: 10px;
	}

	.left_columns {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	.news, .olac_mission {
		flex-shrink: 0;
	}

	.homepage_titel {
		font-family: 'Roboto Slab', sans-serif;
	    font-size: 24px;
		color: inherit;
		letter-spacing: 2.4px;
		margin-left: 24px;
	}

	.left_picture {
		background-color: #F2F2F2;
		font-family: 'Roboto Slab', sans-serif;
		overflow: hidden;
		margin-left: 12px;
		margin-bottom: 0;
		width: 505px;
		height: 336px;
		padding: 0px;
	}

	.left_picture img {
		float: left;
		width: 273px;
		height: inherit;
		object-fit: cover;
		border-bottom-right-radius: 0px;
		border-top-right-radius: 0px;
	}

	.left_picture p {
		text-align: center;
		padding-top: 36px;
	    font-size: 24px;
		font-weight: bold;
		font-family: 'Roboto Slab', sans-serif;
	}

	.news {
		font-family: 'Roboto Slab', sans-serif;
		background-color: #F2F2F2;
		color: inherit;
		width: 227px;
		height:	667px;
		border-radius: 10px;
		text-align: center;
	}
	
	.news_box {
		display: flex;
		align-items: flex-start;
	}
	.news_box button {
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 18px;
		font-weight: 600;
		color: #FFFFFF;
		background-color:#023E8A;
		height: 102px;
	    padding: 12px;
		margin: 6px;
		border-radius: 10px;
	}

	.news_box button:hover {
		cursor: pointer;
		background-color:#00295E;
	}

	.news_box img {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		width: 24px;
		height: 24px;
	}

	#newsbox_arrow {
		width: 24px;
		height: 24px;
	}

	.olac_section {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.olac_mission {
		float: left;
		font-family: 'Roboto Slab', sans-serif;
		color: inherit;
		width: 455px;
	}

	.olac_mission img {
		float: left;
		width: 455px;
		height: 367px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
		margin-bottom: 0px;
		object-fit: cover;
	}

	.olac_mission h2 {
		font-size: 36px;
		text-align: center;
		color: #FFFFFF;
		padding-bottom: 24px;
		margin-bottom: 12px;
		background-color:#023E8A;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	.olac_mission_text p {
		font-family: 'Roboto Condensed', sans-serif;
		background-color: #F2F2F2;	
		color: inherit;
		text-align: left;
		width: 444px;
		font-size: 18px;
		padding-bottom: 28px;
	    padding-left: 12px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
	}

	.coverage {
		font-family: 'Roboto Slab', sans-serif;
	    font-size: 36px;
		color: inherit;
		background-color: #F2F2F2;
		text-align: center;
		width: 505px;
		height: 319px;
		margin-left: 12px;
		margin-top: 0px;
		padding: 0px;
		border-radius: 10px;
	}

	.coverage h3 {
		font-family: 'Roboto Slab', sans-serif;
		color: inherit;
		text-align: center;
		padding-top: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.coverage_text p {
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 20px;
		color: inherit;
	    height: 120px;
		background-color:#F2F2F2;
		border-radius: 10px;
		padding-top: 0px;
	    padding-left: 30px;
	    padding-right: 30px;
	}

	.coverage_button button {
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 24px;
	    width: 220px;
		height: 40px;
		color: #FFFFFF;
		background-color:#023E8A;
		border-radius: 10px;
		margin-top: 32px;
	}

	.coverage_button button:hover {
		cursor: pointer;
		background-color:#00295E;
	}

	.mailing_list {
		text-align: center;
		font-family: 'Roboto Condensed', sans-serif;
		color: #FFFFFF;
		background-color:#023E8A;
		font-size: 20px;
		font-weight: 600;
		height: 252px;
		width: 793px;
		margin-left: 228px;
		border-radius: 10px;
		margin-bottom: 25px;
	}

	.mailing_list h1 {
		padding-top: 24px;
		font-size: 40px;
	}

	.mailing_list_button {
		display: flex;
	  	align-items: center;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 16px;
		text-align: center;
		width: 617px;
		height: 60px;
		color: #FFFFFF;
		background-color:#F2F2F2;
		border-radius: 30px;
		margin-left: 88px;
		border-style: solid;
		border-width: 2px;
		border-color: #57565690;
	}

	.mailing_list_button_text {
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 16px;
		color: #FFFFFF;
		background-color: #869584;
		width: 200px;
		height: 50px;
	}
	.mailing_list_button button {
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 16px;
		width: 150px;
		height: 55px;
		color: #FFFFFF;
		background-color:#00295E;
		border-radius: 25px;
		transition-duration: 0.4s;
		margin-left: 18px;
	}

	.mailing_list_button button:hover {
	    cursor: pointer;
		background-color:#00214d
	}

	.mailing_list_button p {
		display: flex;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 24px;
		color: #36363690;
		width: 210px;
		height: 30px;
		text-align: center;
		margin-right: 163px;
		margin-left: 20px;
	}

	.mailing_list_button img {
		width: 40px;
		height: 40px;
		margin-left: 12px;
	}

/* Elements used for overview.html */

	/* Elements for the overview page layout */

	.overview_title {
		font-family: 'Roboto Slab', sans-serif;
		color: inherit;
		text-align: center;
	}

	.olac_overview {
		background-color: #F2F2F2;
		padding: 12px;
		margin: 24px;
		border-radius: 12px;
	}

	.olac_overview h1, h2, h3, h4, h5 {
		font-family: 'Roboto Slab', sans-serif;
		color: inherit;
	}

	.olac_overview blockquote {
		font-family: 'Roboto Condensed', sans-serif;
		color: inherit;
	}

	.figure1 {
		text-align: center;
	}

	.figure1_table{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding-top: 24px;
		font-family: 'Roboto Condensed', sans-serif;
	}

	.figure1_right {
		background-color: #D9D9D9;
		font-family: 'Roboto Condensed', sans-serif;
		width: 400px;
		height: 545px;
		padding-left: 8px;
		text-align: left;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}

	.figure1_left {
		background-color: #004397;
		color: #FFFFFF;
		font-family: 'Roboto Condensed', sans-serif;
		width: 300px;
		height: 545px;
		padding-right: 8px;
		text-align: right;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	.figure1_left ul {
		list-style-type: none;
		padding: 0px;
		margin: 0px;
	}

	.figure1_right ul{
		list-style-type: none;
		padding: 0px;
		margin: 0px;
	}

	figcaption {
		font-family: 'Roboto Slab', sans-serif;
		color: inherit;
	}

	.figure2 {
		display: block;
		margin: auto;
		text-align: center;
		width: 100%;
		height: 100%;
	}

	.figure3 {
		display: block;
		margin: auto;
		text-align: center;
		width: 100%;
		height: 100%;
	}

	.figure4 {
		display: block;
		margin: auto;
		text-align: center;
		width: 100%;
		height: 100%;
	}

	.figure5 {
		display: block;
		margin: auto;
		text-align: center;
		width: 100%;
		height: 100%;
		font-family: 'Roboto Condensed', sans-serif;
	}

	.figure5_table {
		padding-top: 12px;
		font-family: 'Roboto Condensed', sans-serif;
		border-collapse: collapse;
		margin: auto;
	}

	.figure5 th {
		background-color: #004397;
		color: #FFFFFF;
		padding: 8px;
		border: 1px solid #000000;
	}

	.figure5 td {
		background-color: #D9D9D9;
		padding: 8px;
		border: 1px solid;
	}

	.figure6 {
		display: block;
		margin: auto;
		text-align: center;
		width: 100%;
		height: 100%;
	}

	.figure7 {
		display: block;
		margin: auto;
		text-align: center;
		width: 100%;
		height: 100%;
	}

	.figure8 {
		text-align: center;
	}

	.figure8 td {
		font-size: 20px;
	}

	.figure8_tables {
		display: grid;
		text-align: center;
	}

	.figure8_table1 {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding-top: 24px;
		font-family: 'Roboto Condensed', sans-serif;
	}

	.figure8_table2 {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding-top: 24px;
		font-family: 'Roboto Condensed', sans-serif;
		margin-left: 8px;
		margin-right: 8px;
	}

	.figure8_table3 {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding-top: 24px;
		font-family: 'Roboto Condensed', sans-serif;
	}

	.fig8_table {
		border-collapse: collapse;
		margin: auto;
	}

	.fig8_right {
		background-color: #D9D9D9;
		font-family: 'Roboto Condensed', sans-serif;
		border: 1px solid #00000033;
		text-align: left;
		padding-left: 8px;
		padding-right: 8px;
		width: 520px;
	}

	.fig8_left {
		background-color: #004397;
		color: #FFFFFF;
		font-family: 'Roboto Condensed', sans-serif;
		border: 1px solid #00000033;
		width: 350px;
		text-align: right;
		padding-right: 8px;
	}

/* Elements used for faq.html */

	/* Elements for the faq layout */

	.olac_faq {
		background-color: #F2F2F2;
		padding: 12px;
		margin: 24px;
		border-radius: 12px;
	}

	.olac_faq h1 {
		font-family: 'Roboto Slab', sans-serif;
		color: inherit;
	}

/* Elements used for stats.html */

	/* Elements for the stats layout */

	.olac_coverage {
		background-color: #F2F2F2;
		padding: 12px;
		margin: 24px;
		border-radius: 10px;
	}

	.olac_coverage h1 {
		font-family: 'Roboto Condensed', sans-serif;
		color: inherit;
		font-style: italic;
		font-weight: 1000;
		text-align: center;
	}

	.olac_coverage table {
		font-family: 'Roboto Condensed', sans-serif;
		border-collapse: collapse;
		border: 1px solid;
		margin: auto;
		text-align: center;
	}

	.olac_coverage th {
		background-color: #004397;
		color: #FFFFFF;
		padding: 8px;
		border: 1px solid #000000;
		width: 180px;
	}

	.olac_coverage td {
		border: 1px solid #000000;
		padding: 4px;
	}
	
	.olac_coverage .odd {
		background-color: #D9D9D9;
	}

	.olac_coverage .even {
		background-color: #ffffff;
	}